doctype html
html(lang='en')
  head
    block nav 
        include nav.pug
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Contact
    link(rel='stylesheet', href='css/reg-log.css')
    link(rel='stylesheet', href='css/tailwind.css')
    script(src='https://kit.fontawesome.com/b8cebea34c.js', crossorigin='anonymous')
  body
    #socials.socials
      br
      br
      br
      br
      br
      img(src='https://i.hizliresim.com/m1295qr.png', alt='avatar', width='500', height='600')
      |  
      br
      ul#social-links.social-links
        hr
        br
        li
          a(href='https://www.linkedin.com/in/burak-baris', target='_blank')
            i.fab.fa-linkedin
            |  Linkedin: /in/burak-baris
        br
        br
        li
          a(href='https://www.twitch.tv/knucklesecurity', target='_blank')
            i.fab.fa-twitch
            |  TwitchTV: /knucklesecurity
        br
        br
        li
          a
            i.fas.fa-envelope-square
            |  Mail:  burak@knucklesecurity.com
        br
        br
        li
          a(href='https://github.com/KnuckleSecurity', target='_blank')
            i.fab.fa-github-square
            |  GitHub: /KnuckleSecurity
        br
        br
        li
          a(href='https://twitter.com/knucklesec', target='_blank')
            i.fab.fa-twitter-square
            |  Twitter: /knucklesec
        br
        br
        li
          a(href='https://www.instagram.com/burak_baris_/', target='_blank')
            i.fa.fa-instagram(aria-hidden='true')
            |  Instagram: /burak_baris_/
        br
        br
        li
          a(href='https://tryhackme.com/p/KnuckleSec', target='_blank')
            i.fas.fa-terminal
            |  TryHackMe: /p/KnuckleSec
        br
        br
        hr
        br
        br
