doctype html
html(lang="en")
    block nav 
        include nav.pug
    link(rel='stylesheet', href='css/style.css')
    body
        div(id="errorDiv") 
            h1 #{title}
    div(id="messagePlaceHolder")
