doctype html
html(lang="en")
    block nav 
        include nav 
    link(rel='stylesheet', href='css/style.css')
    body 
        div(id="indexDiv")
            img(src='images/logo.png' alt='logo' style='width:250px; height:180px;')
            h1 #{title}
    div(id="messagePlaceHolder")
