doctype html
html(lang="en")
    script(src="js/maps.js")
    block nav 
        include nav 
    link(rel='stylesheet', href='css/style.css')
    body 
        div(id="indexDiv")
            h1 #{title}
    div(id="messagePlaceHolder")
